.about-me-page {
    background-image: linear-gradient(to bottom right, #09203F , #537895);
    color: #fff;
    font-family: 'Source code pro', monospace;
  }
  
  .content-wrapper {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    width: 210px;
  padding: 10px;
  background-color: #04142d;
  border-right: 1px solid #07f0e4;
  }
  
  .sidebar h3 {
    color: #f64207;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 5px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
   
  }
  
  .bio-section pre {
    background-color: #082a44;
    padding: 20px;
    border-radius: 20px;
    white-space: pre-wrap;
  }
  
  .code-showcase {
    flex-direction: row;
    width: 450px;
    padding: 25px;
    border-left: 1px solid  #07f0e4;
  }
  
  .code-snippet1 {
    width: 400px;
    margin-bottom: 20px;
    background-color: #082a44;
    border-radius: 5px;
    
  
  }
  
  .snippet-header {
    width:400px;
    background-color: #0c124a;
    padding: 1px;
    align-items: center;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .snippet-header img {
    width: 10px;
    height: 10px;
    border-radius: 0%;
    margin-right: 0px;
  }
  
  .code-snippet1 pre {
    padding: 10px;
    margin: 10px;
  }
  
  codea1 {
    font-size: 14px;
  }
  code1 {
    font-size: 12px;
    justify-content: center;
    
  }
  